<ul class="nav navbar-nav uploads-navbar-left">
	<li id="uploads-list-item"><a id="uploads-navbar-text">All</a></li>
	<li id="uploads-list-item"><a id="uploads-navbar-text">My Uploads</a></li>
	<li id="uploads-list-item"><a id="uploads-navbar-text">By Course</a></li>
</ul>
<ul class="nav navbar-nav navbar-right uploads-navbar-right">
	<li id="new-upload-button-container">
		<div class="new-upload-button">
			<div id="new-upload-text">
				<b {{action 'openNewUploadModal'}}>New Upload</b>
			</div>
		</div>	
	</li>
	<li id="new-upload-button-container">
		<div class="new-class-button">
			<div id="new-upload-text">
				<b {{action 'openNewUploadModal'}}>New Class</b>
			</div>
		</div>
	</li>

</ul>
