<div id="draganddrophandler">
	<div id="drag-and-drop-text">
		Drag & Drop  
	</div>
	<div id="drag-and-drop-or">
		<b>or</b>
	</div>
	<div id="file-browse-container">
		<label class="btn btn-default btn-file">
			Browse <input id="file-browse" type="file" style="display: none;" multiple>
		</label>
	</div>
</div>
