<div id="login">
	<div id="login-instructions">
		Enter your email and password <b>to sign in</b>.
	</div>
	<form id="login-form"{{action "authenticate" on="submit"}}>
		<div id="login-id">
			{{input id="login-email" value=identification placeholder="Enter Login"}}
		</div>
		<div id="login-pass">
			{{input id="login-password" value=password type="password" placeholder="Enter Password"}}
		</div>
		<div id="login-submit">
			<button type="submit">Login</button>
		</div>
	</form>
</div>

{{#if errorMessage}}
	{{errorMessage}}
{{/if}}
