<a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{fa-icon "bars" size=1.5}}
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<div>
		<strong class="dropdown-item">{{session.currentUser.email}}</strong>
	</div>
	<div class="dropdown-divider"></div>
	<div class="nav-dropdown-item">
		<a class="dropdown-item">Help</a>
	</div>
	<div class="nav-dropdown-item" {{action 'logout'}}>
		<a class="dropdown-item">Log out</a>
	</div>
</div>
