<div id="new-upload-header">
	<h1>New Upload</h1>
</div>
<div id="new-upload-form">
	<div id="upload-name-input">
		{{input placeholder="Upload Name" value=name}}
	</div>
	<div id="upload-course-input">
		{{input placeholder="Course Name" value=course}}
	</div>
	<div id="file-upload-container">
		<div id="upload-submit-button-container">
			<a id="upload-submit-button" {{action "submitForm"}}>

				Submit
			</a>
		</div>
	</div>
</div>	
