<div id="new-course-header">
	<h1>New Course</h1>
</div>
<div id="new-course=form">
	<div id="course-name-input">
		{{input value=name}}
	</div>
	<div id="new-course-submit-container">
		<a id="course-submit-button" {{action "submitForm"}}>
			Submit
		</a>
	</div>
</div>
