<div id="new-upload-header">
	<h1>New Upload</h1>
</div>
<div id="new-upload-form">
	<div id="upload-name-input">
		{{input placeholder="Upload Name" value=name}}
	</div>
	<div id="upload-course-input">
		{{input placeholder="Course Name" value=course}}
	</div>
	{{file-upload addFiles="addFiles"}}
	<div id="new-upload-submit">
		<span class="btn btn-default" {{action "submitForm"}}>Submit</span>
	</div>
</div>	
