<div class="new-upload-header">
	<h1>New Upload</h1>
</div>
<div class="new-upload-form">
	<div class="new-upload-name">
		<div class="name">
			<b>Name</b>
		</div>
		<div class="name-field">
			{{input type="text" value=name class="form-control" placeholder="ex F15 Midterm 1" id="name"}}
		</div>	
	</div>
	<div class="new-upload-course">
		<div class="course">
			<b>Course</b>
		</div>

		<div class="course-field">
			{{input type="text" value=course class="form-control" placeholder="ex EECS 281" id="course"}}
		</div>
	</div>
	<div class="upload-form-submit">
		<button class="btn btn-primary" {{action "submitForm"}}>Submit</button>
	</div>
</div>
