<div class="center">
<!--	<div class="dashboard-options">
		<button class="btn btn-default" {{action 'viewImage'}}>View Upload</button>	
	</div>
	-->
	<div class="dashboard-uploads">
		{{user-uploads}}
	</div>
	<div class="my-uploads">
		{{upload-list uploads=uploads}}
	</div>
</div>
