<button class="btn btn-default" {{action "openUploadForm"}}>
	New Upload
</button>
{{#if formOpen}}
	{{#modal-dialog translucentOverlay=true close="closeModalDialog"}}
		{{upload-form submitForm="submitForm"}}	
	{{/modal-dialog}}
{{/if}}
