{{#if session.currentUser}}
	Logged in as {{session.currentUser.email}}
{{/if}}
<div class="jumbotron center">
	<h1>Welcome, name</h1>
		<div class="dashboard-options">
			<div class="upload-link">
				{{#link-to 'uploads'}}Upload a file{{/link-to}}
			</div>
			<div class="logout-link">
				<a href="#" {{action 'logout'}}>Log out</a>
			</div>
			<button class="btn btn-default" {{action 'viewImage'}}>View Upload</button>	
		</div>
		<div class="dashboard-uploads">
			{{user-uploads}}
		</div>
</div>
