@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
#new-upload-text {
	padding-top: 5px;
}
#new-upload-button-container {
	width: 40%;
}
.uploads-navbar-right {
	width: 40%;
}
.uploads-navbar-left {
}
#uploads-list-item {

}
#uploads-navbar-text-selected {
	background: black;
	color: #2fcc71;

}
#uploads-navbar-text-unselected {
	background: #222;
	color: lightgrey;
	&:hover {
		background: #191616;
		color: #2fcc71;
	}
}
.uploads-navbar {
	background: #222; 
}
#dashboard-container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	background: white;
	border-radius: 10px;
}
.clickable-icon {
	color: #2fcc71;
	&:hover {
		color: #6ac590;
	}
}
.upload-viewer-header {
	text-align: center;
}
.upload-info {

}
.upload-header-name {
	width: 40%;
}
.upload-header-course {
	width: 30%;
}
.upload-header-filetype {
	padding-left: 5px;
}
.uploads-list-header {
	display: flex;
	background: lightgrey;
}
.fa-download {
	padding-right: 10px;
}
.listed-upload-name {
	width: 40%;
	padding-left: 15px;
}

.listed-upload-course {
	width: 30%;
}

.listed-upload-filetype {
	width: 20%;
}
.listed-upload-icon {
	display: flex;
	padding-top: 5px;
	
}
.listed-upload-info {
	height: 30px;
	display: flex;
}
#uploads-container {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10%;
}
.listed-upload {
	padding: 0px;
}
#uploads-header {
	color: black;
}
.navbar-right {
	margin-right: 0px;
}
.navbar-header {
	margin-left: 50px;
}
.nav-dropdown-item {
	&:hover {
		background: #6ac590;
	}
}
.dropdown-item {
	padding-left: 10px;
	color: black;
}
.dropdown-menu {

}
.dropdown-divider {
	height: 1px;
	margin: 8px 1px;
	background-color: #2fcc71;
}
.fa-bars {
	color: grey;
	&:hover {
		color: white;
	}

}
.nav-header {
}
#login-form {
	margin-top: 10%;
	padding-left: 25%;
	padding-right: 25%;

}
#login-password {

}
#login-email {
	
}

#login {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;

}
#login-instructions {
	color: grey;
	text-align: center;
}
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 8px;
	li {
		float: left;
		text-align: center;
		width: 50%;
		font-size: 25px;
	}
}
.modal-tab-selected {
	background-color: white;
}
.modal-tab-unselected {
	background-color: #f1f1f1;
	&:hover {
		background-color: lightgrey;
	}
}
.ember-modal-dialog {
	padding: 0px;
}
.ember-application {
		background: rgba(0, 0, 0, 0.68)
}

.dashboard-options {
	display: inline-block;
}

.file-upload {
	display: inline-block;
}
.ember-modal-dialog {
	width: 500px;
	height: 400px;
}

.new-upload-header {
	text-align: center;
}
#name {
	width: 50%;
	margin-left: 25%;
}
#course {
	width: 50%;
	margin-left: 25%;
}
#new-upload-name {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}
#name-field {
}
#new-upload-course {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
#course-field {

}
#new-upload-form {
	margin-top: 25px;
}
#upload-form-submit {
	margin-left: 42%;
	margin-top: 25px;
}
#files {
	margin-left: 25%;
}
.new-upload-button {
        background: #2fcc71;
	border-radius: 25px;
	border-color: transparent;
	color: white;
	height: 35px;
	width: 95px;
	text-align: center;
	margin-top: 6px;
	&:hover {
		height: 40px;
		width: 100px;
		margin-top: 4px;
	}
}
.new-class-button {
	margin-top: 6px;
	background: black;
	border-radius: 25px;
	border-color: lightgrey;
	color: white;
	height: 35px;
	width: 95px;
	text-align: center;
	&:hover {
		height: 40px;
		width: 100px;
		margin-top: 4px;
	}
}
