@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 8px;
	li {
		float: left;
		text-align: center;
		width: 50%;
		font-size: 25px;
		
	}
}
.modal-tab-selected {
	background-color: white;

}
.modal-tab-unselected {
	background-color: #f1f1f1;
	&:hover {
		background-color: lightgrey;
	}

}
.ember-modal-dialog {
	padding: 0px;
}

.ember-application {
	background-color: #252839;
}
.center {
	text-align: center;
}

.dashboard-options {
	display: inline-block;
}

.file-upload {
	display: inline-block;
}
.ember-modal-dialog {
	width: 500px;
	height: 400px;
}

.new-upload-header {
	text-align: center;
}
#name {
	width: 50%;
	margin-left: 25%;
}

#course {
	width: 50%;
	margin-left: 25%;
}

#new-upload-name {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}



#name-field {
}


#new-upload-course {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}




#course-field {

}

#new-upload-form {
	margin-top: 25px;
}


#upload-form-submit {

	margin-left: 42%;
	margin-top: 25px;
}
#files {
	margin-left: 25%;
}
