<ul class="nav nav-tabs">
	<li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
	<li role="presentation">{{#link-to 'login'}}Login{{/link-to}}</li>
	<li role="presentation">{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
	<li role="presentation">{{#link-to 'posts'}}Uploads{{/link-to}}</li>
</ul>
{{outlet}}

