<div id="dashboard-container">
	{{dashboard-navbar openNewUploadModal="openNewUploadModal" closeNewUploadModal="closeNewUploadModal"}}
	<!--
	{{user-dashboard uploads=model}}
	-->
	{{#if showNewUploadModal}}
		{{#modal-dialog translucentOverlay=true close="closeNewUploadModal"}}
		{{/modal-dialog}}
	{{/if}}
</div>
