<div class="jumbotron center">
	<h1>Home</h1>
	<div class="home-options">
		<div class="login-link">
			{{#link-to 'login'}}Login{{/link-to}}
		</div>
		<div class="signup-link">
			{{#link-to 'signup'}}Sign up{{/link-to}}
		</div>
	</div>
</div>
