<div id="uploads-container">
	<div id="uploads-header">
		<h1>Uploads</h1>
	</div>
	<div class="dropdown-divider"></div>
	{{upload-list uploads=model}}
	<button class="btn btn-default new-upload-button" {{action "openUploadForm"}}>
		New Upload {{fa-icon "upload"}}
	</button>
	{{#if formOpen}}
		{{#modal-dialog translucentOverlay=true close="closeUploadForm"}}
			{{upload-form}}	
		{{/modal-dialog}}
	{{/if}}
</div>
